doctype html
html
  head
    meta(charset='UTF-8')
  body
    form(action='/register', method='POST')
      | First Name: 
      input(type='text', name='firstname')
      br
      | Last Name: 
      input(type='text', name='lastname')
      br
      | username:
      input(type='username', name='username')
      br
      | e-mail: 
      input(type='text', name='email')
      br
      | Password: 
      input(type='password', name='password')
      br
      input(type='submit', value='Submit')