<head>
    <title>{{title}}</title>
</head>
<h1>{{message}}</h1>
<form method='POST' action='/login'>
    <input type='text' name='user'> username <br>
    <input type='password' name='pass'> password <br>
    <input type='submit' value='submit'>



</form>