/* Reset
Based on http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/
Removed elements not supported in HTML5
-----------------------------------------------------------------------------*/
html {
  padding: 0;
  margin: 0;
  background-color: #d1d1d1;
}
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strike,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* 
Trigger the new block level elements in to the correct content flow
-----------------------------------------------------------------------------*/
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
cell {
  display: inline-block;
  width: calc(50% - 20px);
  margin: 0 10px;
}
item {
  display: block;
}
/* Set up document
-----------------------------------------------------------------------------*/
body {
  font: 62.5%/1.5 Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
  text-align: center;
  background: transparent;
}
#wrapper {
  max-width: 620px;
  min-width: 400px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  padding: 0;
}
.button {
  background-color: #B01E24;
  border: 1px solid transparent;
  border-color: #8c171c;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
/* Section Containers
-----------------------------------------------------------------------------*/
.container {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #e7e7e7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.container-header {
  position: relative !important;
  width: 100%;
  padding: 5px 0;
  background-color: #f8f8f8;
}
.containerHeader span {
  padding-left: 10px;
  font-size: 14px;
}
.rightSpan {    
  position: absolute !important;
  right: 0;
  padding-right: 10px;
  font-size: 15px;
  text-align: right;
}
.containerContent {
  width: 100%;
}
.containerContent .container{
  margin: 0;
}
.containerContent .jobItem{
  width: 100%;
  font-size: 14px;
  padding: 5px 0 5px 15px;
}
.containerContent .header{
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 5px 0 5px 5px;
}
.containerContent .description{
  display: block;
  width: calc(100% - 60px);
  font-size: 12px;
  padding: 5px 30px;
}
.containerFooter {
  position: relative;
  width: 100%;
  margin-top: 5px;
  border-top: 1px solid #e7e7e7;
}
.containerFooter .jobItem{
  font-size: 12px;
  color: #777;
}
.jobFooterItem{
  width: 80%;
  font-size: 10px;
  padding-top: 5px;
  color: #777;
  height: 22px;
  line-height: 22px;
}
.containerFooter .rightButton{    
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 5px 0;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
}
.fileInputContainer {
  width: calc(100% - 24px);
  background-color: #dbdbdb;
  border: 2px dashed #999;
  height: 120px;
  margin: 10px;
  color: #222;
}
.uploadLabel {
  display: block;
  width: 100%;
  height: 100%;    
  text-align: center;
  line-height: 120px;
  font-size: 20px;
}
.fileInputContainer input{
  width: 100%;
  height: 100%;
  text-align: right;
}
.divider {
  position: relative;
  width: calc(100% - 2px);
  height: 0px;
  margin: 24px 0;
  border: 1px solid #e7e7e7;
}
.divider .label {
  position: absolute;
  left: 5px;
  top: -15px;
  height: 20px;
  line-height: 20px;
  background-color: #ffffff;
  color:#777;
  font-size: 14px;
  padding: 5px;
}
.submitButton {
  display: block;
  width: 100px;
  margin: 10px 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 15px;
  text-align: center;
}
.form {
  padding: 0 20px;
}
.form .inputBlock {
  height: 30px;
  border: 1px solid #e7e7e7;
  line-height: 30px;
}

.inputBlock .inputLabel {
  display: inline-block;
  max-width: 50%;
  padding: 0 15px;
  text-align: right;
  font-size: 14px;
  border-right: 1px solid #e7e7e7;
}
.inputBlock .inputSelect {
  display: inline-block;
  margin: 0 15px;
}
.form .inputDesc {
  padding: 5px 15px 10px 15px;
  border: 1px solid #e7e7e7;
  border-top: 0;
  margin-bottom: 5px;
  font-size: 12px;
}
/* Typography
-----------------------------------------------------------------------------*/
h1 {
  color: #666;
  line-height: 0.9em;
  margin-bottom: 0.9em;
}
h2 {
  font-size: 1.8em;
  line-height: 1em;
  margin-bottom: 1em;
}
h3 {
  font-size: 1.6em;
  line-height: 1.13em;
  margin-bottom: 1.13em;
}
h4 {
  font-size: 1.4em;
  line-height: 1.29em;
  margin-bottom: 1.29em;
}
h5 {
  font-size: 1.3em;
  line-height: 1.38em;
  margin-bottom: 1.38em;
}
h6 {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
p,
q,
cite,
address,
ul,
ol,
dl {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
li,
dd,
dt {
  font-size: 1em;
}
a {
  text-decoration: underline;
  color: #33c;
  outline: none;
}
a:hover {
  text-decoration: none;
}
code,
samp,
dfn,
kbd,
var,
acronym,
ins,
del,
abbr {
  speak: spell-out;
}
acronym {
  speak: normal;
}
/* CSS Tables
-----------------------------------------------------------------------------*/
.css-table {
  width: 100%;
  display: table;
}
.css-table .two-column {
  display: table-row;
}
.css-table .two-column .cell {
  display: table-cell;
  vertical-align: top;
  width: 50%;
}
.css-table .two-column .cell * {
  width: 90%;
}
.css-table .three-column {
  display: table-row;
}
.css-table .three-column .cell {
  display: table-cell;
  width: 33.33333%;
}
.css-table .three-column .cell * {
  width: 90%;
}
.css-table .four-column {
  display: table-row;
}
.css-table .four-column .cell {
  display: table-cell;
  width: 25%;
}
/* Header
-----------------------------------------------------------------------------*/
header {    
  background-color: #f8f8f8;
  border-bottom: 1px solid #999;
  color: #333;
}
header .headerContainer {
  max-width: 960px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
header .title {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 10px);
  height: 49px;
  line-height: 49px;
  padding-left: 10px;
  font-size: 20px;
  text-align: left;
}
header nav {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  text-align: right;
}
header nav ul {
  list-style: none;
  padding: 10px;
  margin-bottom: 0;
}
header nav ul li {
  display: inline;
  margin-left: 1%;
}
header nav ul li a {
  background-color: #B01E24;
  border: 1px solid transparent;
  border-color: #8c171c;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  padding: 5px 15px 6px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
header nav ul li a:hover {
  background-color: #8c171c;
}
/* Footer
-----------------------------------------------------------------------------*/
footer {
  color: #666;
  border-top: 1px solid #ccc;
  padding-top: 1.5em;
}
footer ul {
  list-style: none;
}




/*
  ----- General -----
*/
.container-full {
  width: 100%;;
  margin: 10px auto;
  background-color: #fff;
  border: solid 1px #999;
  border-radius: 2px;
}
.container-header {
  width: calc(100% - 20px);
  height: auto;
  padding: 8px 10px;
  background-color: #B01E24;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}
.container-content {
  padding: 8px 10px;
}
.container-content .instruction {
  font-size: 16px;
}

.header {
  display: block;
  width: 100%;
  font-size: 18px;
}
.description {
  font-size: 12px;
}

/*
  ----- Form -----
*/
.form-container {
  width: 300px;
  margin: 10px auto;
  background-color: #fff;
  border: solid 1px #999;
  border-radius: 2px;
}
.form-header {
  width: calc(100% - 20px);
  height: auto;
  padding: 8px 10px;
  background-color: #B01E24;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}
.form-content {
  padding: 8px 10px;
}
.form-content p {
  margin-bottom: 0;
  font-size: 14px;
}
.form-divide {
  width: 100%;
  margin: 10px 0;
}
.form-content label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}
.form-content input {
  display: block;
  width: calc(100% - 24px);
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}
.form-content button {
  -webkit-appearance: button;
  display: block;
  color: #fff;
  background-color: #B01E24;
  border: 1px solid transparent;
  border-color: #8c171c;
  padding: 6px 12px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  background-image: none;
  border-radius: 4px;
}
.form-content button:hover {
  background-color: #8c171c;
  cursor: pointer;
}