extends ../base

block content

  section.container
        section.containerHeader 
            span Create a New Job
        section.containerContent
            span.header BioCloud Jobs
            span.description Below you can select a script to run on your selected file.

            select.inputSelect(name='script')
                for script in scriptsList
                    option #{script} 

            section.containerFooter
                a.button.submitButton Submit