doctype
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/jquery/jquery.js")
    body
        header
            div.headerContainer 
                span.title BioCloud Service
                nav
                    ul
                        li 
                            a(href="/") Home
                        li 
                            a(href="/createjob") Create Job
        section#wrapper
            block content