doctype
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/jquery/jquery.js")
    body
        header
            div.headerContainer 
                span.title BioCloud Service
                nav
                    ul
                        if (isLoggedIn == false)
                            li 
                                a(href="/") Login
                            li 
                                a(href="/register") Register
                        if (isLoggedIn == true)
                            li 
                                a(href="/homepage") Home
                            li 
                                a(href="/selectscript") Create Job

                        if (isLoggedIn == null)
                            li 
                                a(href="/") Home
        section#wrapper
            block content